.container{
  margin-top: 100px;
  color:blueviolet;
  text-align: center;
}
.row-border input{
  border: 1px solid blueviolet;
  color: brown;
  height: 30px;
  width: 15%;
  font-size: 20px;
  font-weight: 600;
}
.row-border button{
  height: 30px;
  width: 5%;
  border: none;
  margin-left: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 15px;
}
.row p{
  font-size: 20px;
  font-weight: 600;
}
.row button{
  height: 30px;
  width: 5%;
  border: none;
  background-color: blueviolet;
   color: white;
   border-radius: 15px;
}
